<app-navbar></app-navbar>
<!-- Header-->
<header
  class="bg-dark py-5"
  style="
    background-image: url('https://www.teahub.io/photos/full/265-2653729_photo-wallpaper-body-building-gym-weight-gym-hd.jpg');
  "
>
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">choose your course now!</h1>
    </div>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row">
      <div class="col-sm-6 my-2" *ngFor="let cour of allCourses">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="https://img-3.journaldesfemmes.fr/btJwba2YXyTPsrRP4QPwa05HMfg=/1500x/smart/921d8203c7d442b686f2d8c0b9c4b85f/ccmcms-jdf/28196944.jpg"
            alt="..."
          />
          <div class="card-body p-4">
            <div class="row">
              <!-- Product name-->
              <h3 class="col-md-6 fw-bolder">course name :</h3>
              <h3 class="col-md-6">{{ cour.courseName }}</h3>
              <h3 class="col-md-6 fw-bolder">coach name :</h3>
              <h3 class="col-md-6">{{ cour.coach }}</h3>
              <!-- Product price-->
              <h3 class="col-md-6 fw-bolder">course price :</h3>
              <h3 class="col-md-6">{{ cour.price }}dt</h3>
              <app-rating [cour]="cour" *ngIf="authState && checkUserCourse(cour.users) && checkTime(cour)"></app-rating>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <app-auth
                (authStateEmitter)="watchAuthState($event)"
                *ngIf="!authState && !checkTime(cour)"
              ></app-auth>
              <button *ngIf="checkTime(cour)" class="btn btn-primary" disabled>
                FINISHED
              </button>
              <button
                *ngIf="
                  authState && !checkUserCourse(cour.users) && !checkTime(cour)
                "
                class="btn btn-outline-dark mt-auto"
                (click)="registerToCourse(cour._id)"
              >
                Participate
              </button>
              <button
                *ngIf="authState && checkUserCourse(cour.users)"
                class="btn btn-success mt-auto"
                disabled
              >
                JOINED
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; DjayFitness 2021</p>
  </div>
</footer>
