<mat-tab-group>
  <mat-tab label="login">
    <form #user="ngForm" class="form-control">
      <div class="mb-3">
        <input
          class="form-control"
          name="email"
          type="text"
          placeholder="Enter your email"
          ngModel
          required
        />
      </div>
      <div class="mb-3">
        <input
          name="password"
          type="password"
          class="form-control"
          placeholder="Enter your password"
          ngModel
          required
        />
      </div>
      <button type="submit" [disabled]="user.invalid" (click)="submit(user)" class="btn btn-primary">login</button>
    </form>
  </mat-tab>
  <mat-tab label="signup">
    <form #userReg="ngForm" class="form-control">
      <div class="mb-3">
        <input
          class="form-control"
          name="username"
          type="text"
          placeholder="Enter your username"
          ngModel
          required
        />
      </div>
      <div class="mb-3">
        <input
          class="form-control"
          name="email"
          type="text"
          placeholder="Enter your email"
          ngModel
          required
        />
      </div>
      <div class="mb-3">
        <input
          name="password"
          type="password"
          class="form-control"
          placeholder="Enter your password"
          ngModel
          required
        />
      </div>
      <button type="submit" style="margin-top: 10px" class="btn btn-primary" (click)="register(userReg)">
        Register <i class="fas fa-sign-in-alt"></i>
      </button>
    </form>
  </mat-tab>
</mat-tab-group>

