<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>login</h3>
    <form>
      <div class="mb-3">
        <label for="loginUsername" class="form-label">user name</label>
        <input type="text" class="form-control" id="loginUsername" placeholder="enter user name">

      </div>
      <div class="mb-3">
        <label for="loginPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="loginPassword" placeholder="enter password">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">login</button>
    </form>
  </div>
</div>
