<!-- Page Header-->
<app-navbar></app-navbar>
<header
  class="masthead"
  style="background-image: url('../../../assets/img/salle.jpeg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1 style="color: #fff533">Djay Fitness</h1>
          <span class="subheading">A GYM you can trust</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Post preview-->
      <div class="post-preview">
        <h2 class="post-title">WHY WE ARE HERE ?</h2>
        <br />
        <p class="post-meta">
          We believe that all people should strive to live pain-free, healthy,
          and well-rounded lives. We believe that fitness, nutrition, and
          mindfulness are nature’s “medicine” and can lead to a higher quality
          of life for all. We believe in redefining what “fitness” means for the
          everyday individual and we strive to lead individuals of all fitness
          levels towards a healthier lifestyle.
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      <!-- Post preview-->
      <div class="post-preview">
        <h2 class="post-title">ACTIVITIES</h2>
        <p class="post-meta">
          Le club de sport DjayFitness t’accueille sur 980m² d’espace de
          pratique : musculation, cardio, cross-training, biking. Plus de 100
          machines et équipements Technogym, disponibles en libre accès 7J/7 -
          de 6h à 23h. Retrouve des coachs sportifs disponibles pour tous tes
          entraînements.
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />

      <!-- Post preview-->
      <div class="post-preview" >

          <h2 class="post-title" >ABOUT US</h2>


        <div class="post-preview post-meta post-title">

          <p>Avenue Tunis, Ariana, Ariana, Tunisia</p>
          <p> 22 996 516</p>
          <p>Golds.gym.ariana@gmail.com</p>
          <p>timing: <br>
            monday to friday 06:00-22:00<br>
            saturday to sunday 07:00-18:00 <br>
          </p>
          <p>reception: <br>
            monday to friday  09:00-20:00<br>
            saturday to sunday 10:00-13:00 <br>
          </p>


        </div>
  </div>
</div>
<!-- Footer-->
<footer class="border-top">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="#!">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#!">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#!">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <div class="small text-center text-muted fst-italic">
          Copyright &copy; DjayFitness2021
        </div>
      </div>
    </div>
  </div>
</footer>
